@font-face {
    font-family: Raleway; /* Имя шрифта */
    src: url(../fonts/Raleway-Regular.ttf); /* Путь к файлу со шрифтом */
}

html {
    height: 100%;
}

body {
    height: auto;
}

body, a, a:hover {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    color: black;
}

.form-inline > * {
   margin:5px 3px;
}

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }

.no-margins {
    margin: 0;
}

.bg-white {
    background-color: white;
}

.block-bordered {
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 400px;
}

.block-title-row {
    border-bottom: 1px solid lightgray;
    font-size: 20px;
    font-weight: normal;
}

#add-category-submit {
    display: none;
}

.navbar, .navbar a, .navbar a:hover {
    color: white;
    background-color: rgb(51, 51, 51);
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav {
    float: none ;
    width: 100%;
}

.navbar-nav li{
    width: 8%;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: #555555;
}

.row {
    margin: 0;
}

.categories, .subcategories {
    height: auto;
    background: #d0d0d0;
    padding: 20px 50px 10px 50px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid darkgray;
}

.categories .logo {
    font-weight: 600;
    font-size: 20px;
    width: 20%;
}

.subcategories {
    background: #e5e5e5;
}

.categories div, .categories ul, .subcategories div, .subcategories ul {
    vertical-align: top;
    height: auto;
    display: inline-block;
}

.categories ul {
    width: 50%;
    text-align: center;
}

.categories li a, .subcategories li a {
    text-align: center;
    display: inline-block;
}

.categories li a:hover, .subcategories li a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.categories li a:visited, .subcategories li a:visited {
    text-decoration: none;
    color: black;
}

.categories img, .subcategories img {
    display: block;
}

.categories ul li, .subcategories ul li {
    font-size: 12px;
    display: inline-block;
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;
}

.categories .description, .subcategories {
    text-align: center;
}

.categories .active, .subcategories .active {
    text-decoration: none;
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .categories .description {
        display: none;
    }

    .categories ul {
        width: 100%;
        text-align: center;
    }
}

#iphone-subcat {
    display: none;
}

#ipad-subcat {
    display: none;
}